VITE_KEYCLOAK_URL=http://localhost:8080
VITE_KEYCLOAK_REALM=coffee-chess
VITE_KEYCLOAK_CLIENT_ID=coffee-chess-frontend

VITE_DEV_USER_URL=http://localhost:8081
VITE_DEV_GAME_URL=http://localhost:8082
VITE_DEV_ANALYSIS_URL=http://localhost:8083
