SPRING_PROFILES_ACTIVE=dev

EUREKA_USERNAME=eureka
EUREKA_PASSWORD=eurekaSecret123

CONFIG_USERNAME=configuser
CONFIG_PASSWORD=configSecret123

DB_USER=coffeechess
DB_PASSWORD=changeMeLocally123

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=changeMeLocally123
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=changeMeLocally123
KEYCLOAK_ADMIN_CLIENT_SECRET=changeMeAdminClientSecret123
